h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 70px;
	text-align: center;
}

/*parte exterior de la cancha*/
main .cancha {

	width: 800px;
	height: 400px;
	background-color: #8cb27c;
	position: relative;
	border: 1px solid white;
	padding: 20px;
	box-sizing: border-box;

}
/*parte interna de la cancha*/
div.cancha .interior{
	border: 1px solid white;
	height: 100%;
	position: relative;
	background-color: #8cb27c;

}
/*arco izquierdo*/
div.interior .arcoLeft {
  border: 1px solid white;
  width: 100px;
  height: 170px;
  top: 82px;
  position: absolute;
  left: -1px;
}
/*arco derecho*/
div.interior .arcoRight {
  border: 1px solid white;
  width: 100px;
  height: 170px;
  top: 82px;
  position: absolute;
  right: -1px;
}
/*circulo centro*/
div.interior .center {
	border: 1px solid white;
	border-radius: 100%;
	width: 160px;
	height: 160px;
	position: absolute;
	left: 284px;
	top: 87px;
}

div.interior .ball1 {
	position: absolute;
	top: 48px;
	left: 380px;
}

div.interior .ball2 {
	position: absolute;
	top: 85px;
	left: 79px;

}

div.interior .ball3 {
	position: absolute;
	top: 220px;
	left: 621px;
}
